<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <h3>{{title}}</h3>
              </div>
            </div>
            <ng-content>
            </ng-content>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>