<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <!-- <div class="container"> -->
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6">
                <h2>Manage <b>Personal Information</b></h2>
              </div>
              <div class="col-sm-6">
                <a routerLink="/create-personal" class="btn btn-success"> <span>Add New Employee</span></a>
              
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let personalInfo of personalInfos$ | async">
                <td>{{personalInfo.firstName}}</td>
                <td>{{personalInfo.lastName}}</td>
                <td>{{personalInfo.emailAddress}}</td>
                <td>{{personalInfo.phoneNumber}}</td>
                <td>
                  <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons"
                      data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                  <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons"
                      data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="clearfix">
            <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
            <ul class="pagination">
              <li class="page-item disabled"><a href="#">Previous</a></li>
              <li class="page-item"><a href="#" class="page-link">1</a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item active"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">4</a></li>
              <li class="page-item"><a href="#" class="page-link">5</a></li>
              <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
          </div>
        </div>
        <!-- </div> -->

      </div>
    </div>
  </section>
</main>
<!-- <form id="contact-form" [formGroup]="personalInfoForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
    <label class="center-block">Email:
      <input class="form-control" formControlName="email">
    </label>
    <label class="center-block">Text:
      <input class="form-control" formControlName="text">
    </label>
  </div>
    <button type="submit"
            [disabled]="!personalInfoForm.valid" class="btn btn-success">Save</button>
</form> -->