<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">

    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <h3>{{title}}</h3>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">

              <form id="personal-form" [formGroup]="personalInfoForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <input class="form-control" placeholder="First Name" formControlName="firstName">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <input class="form-control" placeholder="Last Name" formControlName="lastName">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <input class="form-control" placeholder="Email" formControlName="email">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <input class="form-control" placeholder="Phone" formControlName="phone">
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4"
                    [disabled]="!personalInfoForm.valid">Create</button>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- <form id="contact-form" [formGroup]="personalInfoForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
    <label class="center-block">Email:
      <input class="form-control" formControlName="email">
    </label>
    <label class="center-block">Text:
      <input class="form-control" formControlName="text">
    </label>
  </div>
    <button type="submit"
            [disabled]="!personalInfoForm.valid" class="btn btn-success">Save</button>
</form> -->